<a href="https://colab.research.google.com/github/profteachkids/colaboratory-notebooks/blob/master/Regex_Kids_Analyze_Text.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
import requests
import re
from itertools import islice
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/profteachkids/colaboratory-notebooks/master/name_adj_regex.txt'
text = requests.get(url).text

In [19]:
name_adj_pat = re.compile(r'^(\w+)[-: ]+(.*)$', re.M)
name_adjs=name_adj_pat.findall(text)

In [58]:
data={}
adj_amount_pat = re.compile(r'(\w+)[ +]+(\d+)')
for name_adj in name_adjs:
  adj_amounts = adj_amount_pat.findall(name_adj[1])
  if name_adj[0] in data:
    for adj, amount in adj_amounts:
      if adj in data[name_adj[0]]:
        data[name_adj[0]][adj]+=int(amount)
      else:
        data[name_adj[0]][adj]=int(amount) 
  else:
    data[name_adj[0]]={}
    for adj, amount in adj_amounts:
        data[name_adj[0]][adj]=int(amount)

In [60]:
df = pd.DataFrame(data).reset_index()
df=df.rename(columns={'index':'adjective'})

In [61]:
df.head()

     adjective  Tamara  Joy  Katelyn  ...  Adam  Barbara  Ashley  Emma
0    exuberant     266  315      551  ...   615      273     372   777
1  sympathetic     230  267      456  ...   512      230     691   264
2      patient     607  533      310  ...   391      462     377   429
3     humorous     392  350      502  ...   446       33     231   210
4       gentle     525  448      460  ...   273      524     280   540

[5 rows x 21 columns]