<a href="https://colab.research.google.com/github/profteachkids/colaboratory-notebooks/blob/master/WebScraping_Kids.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from lxml import html
import requests

In [ ]:
content = """<div class='team-stats'>
  <div class='points-per-game'>
    <table class='category-table'> 
      <tr>
        <a class='team-name'>Golden State Warriors</a>
        <a class='team-value'>116.3</a>
      </tr> 
      <tr>
        <a class='team-name'>LA Clippers</a>
        <a class='team-value'>114.7</a>
      </tr> 
      <tr>
        <a class='team-name'>Milwaukee Bucks</a>
        <a class='team-value'>112.8</a>
      </tr> 
    </table>
  </div>
  
  <div class='rebounds-per-game'> 
    <table class='category-table'> 
      <tr>
        <a class='team-name'>Milwaukee Bucks</a>
        <a class='team-value'>51.9</a>
      </tr> 
      <tr>
        <a class='team-name'>Philadelphia 76ers</a>
        <a class='team-value'>48.5</a>
      </tr> 
      <tr>
        <a class='team-name'>Boston Celtics</a>
        <a class='team-value'>47.8</a>
      </tr> 
    </table>
  </div>
</div>"""